*{
    padding: 0;
    margin: 0;
}
.container-sidebar{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: #111827;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in .3s;
}

.sidebar.hide{
    width: 87px;
    transition: all ease-out .3s;
}

.main-content{
    background-color: #EEEEEE;
    flex-grow: 1;
}

.sidebar .description-header{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.sidebar.hide .description-header{
    display: none;
}

.sidebar a{
    text-decoration: none;
}

.sidebar .header .list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
}

.sidebar .header .list-item .icon{
    margin-right: 12px;
}

.sidebar .header .illustration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0 22px 0;
    box-sizing: border-box;
}

.sidebar.hide .illustration{
    display: none;
}

.sidebar .main .list-item .description{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.sidebar.hide .main .list-item .description{
    display: none;
}

.sidebar .main .list-item .icon{
    margin-right: 12px;
}

.sidebar .main .list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.sidebar .main .list-item:hover{
    background: blueviolet;
    transition: all ease-in .2s;
}

.sidebar .main .garis{
    font-weight: 1000;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

#menu-button{
    width: 32px;
    position: absolute;
    overflow: hidden;
}

#menu-label{
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#garis-garis, #menu-label:after, #menu-label:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #111827;
}

#menu-label:after, #menu-label:before{
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu-label:before{
    top: 0;
}

#menu-label:after{
    top: 8px;
}

#garis-garis{
    top: 16px;
}

#garis-garis:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #111827;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label:before{
    left: -39px;
}

#menu-checkbox:checked + #menu-label:after{
    left: 39px;
}

#menu-checkbox:checked + #menu-label #garis-garis:before{
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, 
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown{
    0%{
        top:0;
    }
    50%{
        top: -27px;
    }
    100%{
        top: -14px;
    }
}

@keyframes shakeUp{
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0)
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

@keyframes shakeDown{
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
}
